<strong><b><h1>SIMPLE LINEAR REGRESSION</strong></h1></b>

<h5>Import the relevant libraries</h5>

<h5>Import the relevant libraries</h5>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

<h5>Load the Data</h5>

In [2]:
data = pd.read_csv('1.01. Simple linear regression.csv')

In [3]:
data

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [4]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

<h5>Create First Regression</h5>